{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Python Debugger: uzmanposta.py",
            "type": "debugpy",
            "request": "launch",
            "program": "${workspaceFolder}/uzmanposta.py",  // Dosya yolunu doğru belirtin
            "console": "integratedTerminal",
            "justMyCode": true,
            "args": [
                "--api_key", "",
                "--log_directory", "./output",
                "--log_file_name_format", "uzmanposta_%Y-%m-%d-%H-%M.json",
                "--position_file", "./uzmanposta_position.txt",
                "--start_time", "1736370000",  // Unix timestamp örneği
                "--domain", "",
                "--url", "https://yenipanel-api.uzmanposta.com/api/v2/logs/mail",
                "--type", "outgoinglog"
            ],
            "env": { "PYTHONUNBUFFERED": "1" }
        }
    ]
}